<div class="card bg-dark text-white">
    <div class="card-header">{{ getTitle }}</div>
    <div class="card-body">

        <form (ngSubmit) = "createNewClient()">
            <div class="form-group row">
                <label for="razonSocial" class="col-form-lavel col-sm-2">Razon Social</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="razonSocial" [(ngModel)]="getClient.razonSocial" placeholder="El Nombre Papá">
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaActiv" class="col-form-lavel col-sm-2">Fecha Activ</label>
                <div class="col-sm-6">
                    <input type="text" name="fechaActiv" class="form-control" [(ngModel)]="getClient.fechaActiv" placeholder="AAAA-MM-DD"> 
                </div>
            </div>
            
            <div class="form-group row">
                <label for="barrio" class="col-form-lavel col-sm-2">Barrio</label>
                <div class="col-sm-6">
                    <select name="barrio" id="barrio" class="form-control">
                        <option *ngFor="let neigh of getNeighbors" value="{{neigh.idBarrio}}">{{neigh.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">crear</button>
                </div>
            </div>
        </form>
    </div>
</div>